body
  font: 14px/20px "Lucida Grande", Helvetica, Arial, sans-serif
  border-top: 6px solid #cc3d33
  background: #f4f4f2

a
  text-decoration: none
  color: #cc3d33
  &:hover
  &:focus
    text-decoration: underline
